.app {
  margin: 0 auto;
  max-width: 400px;
}

.board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.cell {
  position: relative;
  border-width: 3px;
  border-style: solid;
}

.cell svg {
  display: block;
}

.disc {
  position: absolute;
  top: 0;
  left: 0;
}

.statusbar {
  display: flex;
  position: relative;
  padding: 5px 20px;
}

.statusbar div {
  flex: 1;
}

.statusbar div:last-child {
  text-align: right;
}

.statusbar-marker {
  position: absolute;
  top: 4px;
}
