html {
  font-family: "Josefin Sans", sans-serif;
}

.app {
  margin: 0 auto;
  max-width: 400px;
}

.board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 1.5rem;;
}

.cell {
  position: relative;
}

.cell .tile {
  position: relative;
  z-index: 999;
  display: block;
}

.cell .columnmarker {
  display: none;
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: -1.25rem;
}

.columnmarker .disc {
  position: relative;
  width: 30%;
  margin: 0 auto;
}

.cell:hover .columnmarker {
  display: block;
}

@keyframes drop { 
  to { top: 0; } 
}
.cell .disc-container {
  position: absolute;
  left: 0;
  animation: drop 0.5s forwards;
}

@keyframes fadeIn { 
  from { opacity: 0.2; } 
}
.disc-win {
  animation: fadeIn 0.2s infinite alternate;
  animation-delay: 0.5s;
}

.playerbar {
  display: flex;
  position: relative;
  padding: 0.5rem 1.2rem 0.3rem 1.2rem;
  text-transform: uppercase;
}

.playerbar div {
  flex: 1;
}

.playerbar div:last-child {
  text-align: right;
}

.playerbar-marker {
  position: absolute;
  top: 0.4rem;
}

.statusbar {
  border-top: 1px solid black;
  text-align: center;
  padding-top: 0.5rem;
}
