html {
  font-family: "Josefin Sans", sans-serif;
}

.app {
  margin: 0 auto;
  max-width: 400px;
}

.board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 1.5rem;;
}

.cell {
  position: relative;
}

.cell svg {
  display: block;
}

.cell .columnmarker {
  display: none;
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: -1.25rem;
}

.cell:hover .columnmarker {
  display: block;
}

.disc {
  position: absolute;
  top: 0;
  left: 0;
}

.statusbar {
  display: flex;
  position: relative;
  padding: 0.5rem 1.2rem;
  text-transform: uppercase;
}

.statusbar div {
  flex: 1;
}

.statusbar div:last-child {
  text-align: right;
}

.statusbar-marker {
  position: absolute;
  top: 0.4rem;
}
